{% extends "../../partials/dataquality.njk" %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/pagination/macro.njk" import govukPagination -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% block dataQualityResults %}
  {{ mojSubNavigation({
    label: "Sub navigation",
    items: [{
      text: "Invalid mobile numbers",
      href: "/data-quality/invalid?provider=" + providerCode
    }, {
      text: "Missing mobile numbers",
      href: "/data-quality/missing?provider=" + providerCode
    }, {
      text: "Duplicate mobile numbers" + (" (" + pagination.total + ")" if pagination.total != 0 else ""),
      href: "/data-quality/duplicates?provider=" + providerCode,
      active: true
    }]
  }) }}

  {% if rows | length > 0 %}
    {{ govukTable({
      attributes: {
        "data-module": "moj-server-side-sortable-table"
      },
      head: [
        { text: "Name", attributes: { "aria-sort": "none" } },
        { text: "CRN", attributes: { "aria-sort": "none" } },
        { text: "Mobile number", attributes: { "aria-sort": "descending" } },
        { text: "Manager", attributes: { "aria-sort": "none" } },
        { text: "Probation delivery unit", attributes: { "aria-sort": "none" } },
        { text: "" }
      ],
      rows: rows
    }) }}

    {% if pagination.items | length > 1 %}
      {{ govukPagination({ previous: { href: pagination.prev }, next: { href: pagination.next }, items: pagination.items }) }}
    {% endif %}
  {% else %}
    <p>There are no duplicate mobile numbers 🎉</p>
  {% endif %}
{% endblock %}
